import React from 'react'
import * as S from './styles'

export type {{pascalCase name}}Props = {
  children?: React.ReactNode
}

export function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  return (
    <S.Wrapper>
      <h1>{{pascalCase name}}</h1>
    </S.Wrapper>
  )
}
